<section class='flex flex-col w-11/12 max-sm:w-full md:px-10 px-4 mt-5 justify-center gap-8 items-center py-10 rounded-md mx-auto bg-gray-900 text-white'>
    {% include "components/slider.html" %}
    <div class=' flex flex-col gap-3 w-4/5 items-center max-sm:text-center order-1 md:order-2 '>
        <h1 class='text-3xl font-semibold'>Create Your NFTs</h1>
        <p>Experience the limitless world of NFTs by creating an account on our platform. Gain access to rare digital collectibles, engage with a thriving community of creators, and empower your journey into the digital frontier. Don't miss out – take the first step towards your NFT adventure today!</p>
        <a href="{%url 'dashboard'%}" class='px-5 py-4 bg-fuchsia-500 text-white rounded-md text-center w-1/2 '>Create NFT</a>
    </div>
</section>
