<section class='flex flex-col w-11/12 max-sm:w-full md:px-10 px-4 mt-5 justify-center gap-8 items-center py-10 rounded-md mx-auto bg-gray-900 text-white'>
    {% include "components/slider.html" %}
    <div class=' flex flex-col gap-3 w-4/5 items-center max-sm:text-center order-1 md:order-2 '>
        <h1 class='text-3xl font-semibold'>Create Your NFTs</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem quae dicta voluptatibus laudantium fugit eius libero nisi suscipit! Quidem consequatur aut facilis recusandae fuga ipsam delectus quibusdam cupiditate saepe veniam doloribus esse, commodi iusto quis ut corrupti ad eius neque autem ratione error quaerat a id. Obcaecati aliquam quo voluptatum.</p>
        <a href="{%url 'dashboard'%}" class='px-5 py-4 bg-blue-500 text-white rounded-md text-center w-1/2 '>Create NFT</a>
    </div>
</section>
