{%load static%}
<section class=' lg:px-10 px-5 pt-10 flex flex-col gap-5'>
    <h1 class='text-3xl font-semibold text-center text-blue-500 '><i class="fa-solid fa-bolt-lightning"></i> <span class='text-white'>Selling Now</span></h1>
    <div class='grid lg:grid-cols-4 w-11/12 mx-auto grid-cols-1 gap-5'>
        {% comment %} card items {% endcomment %}
        <div class='flex flex-col rounded-md gap-5 p-5 items-center hover:scale-110 text-white border-white border-2 transition ease-in delay-100 '>
            <img src="{%static 'images/A8.jpg'%}" class='h-[200px] w-full rounded-md object-cover' alt="">
            <div class='grid grid-cols-2 gap-x-20 '>
                <p>Crazy Arts</p>
                <p>@mello</p>
                <p>1.3ETH</p>
                <p>Mosaic Arts</p>
            </div>
        </div>

                <div class='flex flex-col rounded-md gap-5 p-5 items-center hover:scale-110 text-white border-white border-2 transition ease-in delay-100 '>
            <img src="{%static 'images/A10.jpg'%}" class='h-[200px] w-full rounded-md object-cover' alt="">
            <div class='grid grid-cols-2 gap-x-20 '>
                <p>Crazy Arts</p>
                <p>@mello</p>
                <p>1.3ETH</p>
                <p>Mosaic Arts</p>
            </div>
        </div>

                <div class='flex flex-col rounded-md gap-5 p-5 items-center hover:scale-110 text-white border-white border-2 transition ease-in delay-100 '>
            <img src="{%static 'images/15.jpg'%}" class='h-[200px] w-full rounded-md object-cover' alt="">
            <div class='grid grid-cols-2 gap-x-20 '>
                <p>Crazy Arts</p>
                <p>@mello</p>
                <p>1.3ETH</p>
                <p>Mosaic Arts</p>
            </div>
        </div>

                <div class='flex flex-col rounded-md gap-5 p-5 items-center hover:scale-110 text-white border-white border-2 transition ease-in delay-100 '>
            <img src="{%static 'images/22.jpg'%}" class='h-[200px] w-full rounded-md object-cover' alt="">
            <div class='grid grid-cols-2 gap-x-20 '>
                <p>Crazy Arts</p>
                <p>@mello</p>
                <p>1.3ETH</p>
                <p>Mosaic Arts</p>
            </div>
        </div>


    </div>
     <a href="" class=' hover:bg-white hover:text-black text-white border-white border-2 shadow-sm max-sm:w-4/5 text-center text-sm p-5 font-medium bg-black rounded-md w-1/5 self-center '>Sell All</a>
</section>
